#navbarLogo {
    width: 35px;
    vertical-align: bottom;
}

#navbarName {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.center {
    margin: auto;
}

#sloganImage {
    vertical-align: bottom;
    width: 200px;
    margin: 5px;
}

#slogan {
    font-size: 30px;
    color: gray;
    font-style: italic;
}

#logoWithSlogan {
    margin-top: 15%;
    margin-bottom: 20px;
}

#searchButton {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: #EF0098;
    color: white;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    transition: background-color 1s;
}

#searchButton:hover {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: rgb(185, 3, 118);
    color: white;
    font-weight: bold;
}

button:focus {
    outline:0;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    color: rgb(174, 188, 202);
    font-size: 12px;

}
#temporary {
    font-family: 'Dosis', sans-serif;
}
.companyLogo {
    height: 200px;
    width: 250px;
}
.listing {
    display: inline-block;
    margin: 2px;
    text-align: center;
    width: 350px;
}