p {
    font-family: 'Dosis', sans-serif;
}

#devPosition {
    font-family: 'Dosis', sans-serif;
    color: rgb(128, 4, 82); 
    display: none;
}

#devFact {
    font-family: 'Dosis', sans-serif;
    color: rgb(128, 4, 82); 
    display: none;
}

#devName {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        display: none;
}

#devEmail {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    display: none;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

a {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: #EF0098; 
}

a:hover {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: rgb(128, 4, 82); 
}

label {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

#navbarLogo {
    width: 35px;
    vertical-align: bottom;
}

#navbarName {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.center {
    margin: auto;
}

#sloganImage {
    vertical-align: bottom;
    width: 200px;
    margin: 5px;
}

#slogan {
    font-size: 30px;
    color: gray;
    font-style: italic;
}

#logoWithSlogan {
    margin-top: 15%;
    margin-bottom: 20px;
}

#searchButton {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: #EF0098;
    color: white;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    transition: background-color 1s;
}

#searchButton:hover {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: rgb(185, 3, 118);
    color: white;
    font-weight: bold;
}

#submitButton {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: #EF0098;
    color: white;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    transition: background-color 1s;
}

#submitButton:hover {
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: rgb(185, 3, 118);
    color: white;
    font-weight: bold;
}

button:focus {
    outline:0;
}

#footer {
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    color: rgb(174, 188, 202);
    font-size: 12px;

}


#contactList {
    transform: translate(6%, 0); 
}

.headshot {
    
    width: 150px;
    margin: 30px;
    opacity: 0.5;
    transition: opacity 0.5s;
    transition: width 0.5s;   
    transform: translate(-50%, 0); 
}

.headshot:hover {
    opacity: 1;
    width: 160px;
}

#headshot1 {
    margin-bottom: 50px;
}

#topHeadshot {
    height: 200px;
}

#midHeadshots {
    height: 200px;
}

#bottomHeadshots {
    height: 200px;
}

#bio {
    text-align: center;
    transform: translate(-20%, 0);
}

#contactList {
    margin-top: 50px;
    margin-left: 10%;
}

#surveyWrapper {
    background-color: white;
    padding: 30px;
    margin-top: 50px; 
}


#feedbackQuestion {
    margin-top: 30px;
}

.faqA {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
}

.faqQ {
    font-family: 'Dosis', sans-serif;
    color: #EF0098;
}

.faqQ:hover {
    font-family: 'Dosis', sans-serif;
    color: rgb(128, 4, 82); 

}





#contact {
    background-image: url("../images/contactBack.jpg");
}

#mainpage {
    background-image: url("../images/contactBack.jpg");
}

#faq {
    background-image: url("../images/contactBack.jpg");
}

#survey {
    background-image: url("../images/contactBack.jpg");
}

#mapid { 
    height: 180px; 
}

#houseImage {
    width: 300px;
}


